/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("./fonts/FontsFree-Net-HelveticaNeueBold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/FontsFree-Net-HelveticaNeueBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/FontsFree-Net-HelveticaNeueBold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/FontsFree-Net-HelveticaNeueBold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/FontsFree-Net-HelveticaNeueBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/FontsFree-Net-HelveticaNeueBold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/FontsFree-Net-HelveticaNeueBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}